  <table>
    <thead>
      <tr>
        <th>地名</th>
        <th>概要</th>
        <th>image</th>
        <th>編集</th>
      </tr>
    </thead>

    <tbody>
      <% tourists.each do |tourist| %>
        <tr>
            <td><%= link_to tourist.name, tourist_path(tourist) %></td>
            <td><%= tourist.overview %></td>

            <td><%= attachment_image_tag(tourist, :image, :fill, 400, 200, fallback: "noimage.jpg") %>
            </td>
        </tr>
      <% end %>
    </tbody>
  </table>