
<div class="row">
        <div class="col-md-2"></div>

                <h1 class="headline">
                Travel reviewsにようこそ。</br>
                　　お気に入りの旅先を探そう<i class="fas fa-search"></i>
                </h1>

</div>

<%= render "tourists/touristlist", tourists: @tourists %>
<%= paginate @tourists, class: "paginate" %>



