
<!--ここだけフッターがおかしい-->

<%= render 'customers/profile', customer: @customer %>

<!--口コミ一覧-->
<%= render 'reviews/reviewslist', reviews: @reviews ,customer: @customer %>

<p class="details">会員がお気に入りした観光地</p>
<%= render 'spots/likespots', spots: @spots %>